body {
    position:relative;
    margin:0px;
    background-image: url("img/giphy.gif");
  }
  #canvas{
    position: fixed;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
  }
  
  .emoji {
    font-size:200px;
    position:absolute;
  }
  #text{
      font-family: Bangers;
      color: white;
      font-size: 50px;
      margin-top: 20px;
      text-align: center;
  }
  ::selection {
    color: none;
    background: none;
}